<!--styles -->
<%- include('../includes/head.ejs') %>

<body>
<!--navigation panel-->
<%- include('../includes/navigation.ejs') %>

<main>
    <form class="product-form" method="POST"
          action="<% if(editing){ %>/admin/edit-product<% }else { %>/admin/add-product<% } %>">
        <div class="form-control">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" value="<% if (editing){ %> <%= product.title %> <% } %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image Url</label>
            <input id="imageUrl" type="text" name="imageUrl"
                   value="<% if (editing){ %> <%= product.imageUrl %> <% } %>">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input id="price" type="number" name="price" step="0.01"
                   value="<% if(editing){ %><%= product.price %><% } %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="5">
                <% if (editing){ %>
                <%= product.description %>
                <% } %>
            </textarea>
        </div>

        <% if (editing){ %>
        <input type="hidden" value="<%= product.id %>" name="productId"/>
        <% } %>

        <% if(editing){ %>
            <button type="submit"> Update Product</button>
        <% } else { %>
            <button type="submit"> Add Product</button>
        <% } %>

    </form>

<%- include('../includes/end.ejs') %>