<!--styles -->
<%- include('../includes/head.ejs') %>

<body>
<!--navigation panel-->
<%- include('../includes/navigation.ejs') %>
<h1>Cart page</h1>
<main>
    <% if(products.length > 0 ){ %>
        <div class="listHeader"> Cart items:</div>
        <ul>
            <% products.forEach(p =>{ %>
                <li>
                    <p><%= p.title %> (<%= p.quantity %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p._id %>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <form action="/create-order" method="POST">
            <button class="btn" type="submit">order</button>
        </form>

        <hr>
    <% }else { %>
        <h3>cart is empty yet</h3>
    <% } %>

<%- include('../includes/end.ejs') %>