<!--styles -->
<%- include('../includes/head.ejs') %>

<body>
<!--navigation panel-->
<%- include('../includes/navigation.ejs') %>
<main class="centered">
    <h2><%= product.title %></h2>
    <hr>
    <div class="details">
        <% if (product.imageUrl){ %>
            <img class="bookImage"
                 src="<%= product.imageUrl %>" alt="<%= product.title %>">
        <% } else { %>
            <img class="bookImage"
                 src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png"
                 alt="no image">
        <% } %>
        <ul class="info">
            <li><strong>Author:</strong></li>
            <li><strong>first publication:</strong></li>
            <li><strong>price: <%= product.price %>$</strong></li>
            <li><strong>description:</strong> <%= product.description %></li>
            <li>
                <%- include('../includes/add-to-cart-button.ejs', {product: product}) %>
            </li>
        </ul>
    </div>
    <hr>
<%- include('../includes/end.ejs') %>